.addkalaa_wrapper{
    background: #FDF7F4;
    .addkalaa_container{
        width :80%;
        margin-left: 20%;
        margin-bottom: 7%;
       
        .addkalaa_title{
            margin-top: 7%;
            font-family: $font-2;
            font-size: 2.5rem;
            color: #333333;
            font-weight: 600;
        }
        .addkalaa_label{
            margin-top: 5%;
            .label_text{
                font-family: $font-2;
                font-size: 1.5rem;
                color: #333333;
                font-weight: 500;
            }
            .label_upload_div{
                background: #FDF7F4;
                border: 2px solid #707070;
                border-radius: 2%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 5%;
            
                width: 30%;

                .label_innerdiv{

                    border:2px solid #707070;
                    background: transparent;
                    border-radius: 3%;
                    // justify-content: center;
                    // align-items: center;
                    .upload_text{
                        font-family: $font-2;
                        font-size: 1.1rem;
                        color: #333333;
                        font-weight: 500;
                        cursor: pointer;
                        margin-bottom: 0.2;
                        margin-left: 0.5rem;
                        margin-top: 0.2rem;
                        
                    }
                    .label_upload_img{
                        width: 18%;
                        cursor: pointer;
                        padding-left: 0.5rem;
                        margin-bottom: 0.2rem;
                        
                    }
                }
                
            }
            .visibility-wrapper{
                margin-left: 3rem;
                display: flex;
                .dropdown_wrapper{
                    margin-left: 1rem;

                }
            }
        }
        .addkalaa_card{
            margin-top: 20px;
            background: #ffffff;
            border-radius: 2%;
            width: 40%;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            .preview_header{
                align-items: center;
                .preview_username{
                    font-family: $font-4;
                    font-size: 1rem;
                    color: #333333;
                    font-weight: 400;
                }
                .preview_userimage{
                    border-radius: 50%;
                    padding: 0.5rem;
                    width: 3rem;
                    height: 3rem;
                    object-fit: cover;
                }
            }
            .preview_body{

                .preview_img{
                    

                }
                .addkalaa-input-wrapper{
                    padding:0.5rem;
                    display: flex;
                    flex-direction: column;
                    .addkalaa_title_input{
                        margin-top: 10px;
                        border: 0.1rem solid #707070;
                        background-color: #FDF7F4;
                        border-radius:0.3rem;
                        font-family: $font-2;
                        font-size: 1.5rem;
                        &:focus{
                            outline: none;
                        }
                    }
                    .addkalaa_desc_input{
                        margin-top: 10px;
                        border: 0.1rem solid #707070;
                        background-color: #FDF7F4;
                        border-radius:0.3rem;
                        font-family: $font-2;
                        font-size: 1.5rem;
                        &:focus{
                            outline: none;
                        }
                    }
                }
                
            }
        }
        .button_wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 10%;
            width : 30%;
            .addkalaa_btn{
                margin-top: 0.5rem;
                color:#333333;
                border: 0.1rem solid #707070;
                font-family: $font-2;
                font-size: 1.1rem;
                font-weight: 600;
                width:30%;
            }

        }
    }
}
