.feedpage_wrapper{
    background: #FDF7F4;
    //position: fixed;
    overflow: scroll;
  .feed_col{
      margin-top:70px;
      background: #FDF7F4;
      width: 100%;
      height: 16%;
      position:fixed;
      .feedpage_titlebar{
        
        background:transparent;
        width: 22%;
        border-radius: 0.5rem;
        display:flex;
        justify-content: center;
        .toggle_radio{
            position: relative;
            background: #FFFFFF;
            margin: 4px auto;
            overflow: hidden;
            padding: 0 !important;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            position: relative;
            height: 40px;
            width: 258px;
          }
          .toggle_radio > * {
            float: left;
          }
          .toggle_radio input[type=radio]{
            display: none;
            /*position: fixed;*/
          }
          .toggle_radio label{
            font-family: $font-2;
            font-size: 1.5rem;
            font-weight: 500;
            color: #333333;
            display: block;
            width: 80px;
            height: 20px;
            margin: 2px 2px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            cursor: pointer;
            z-index: 2;
            text-align: center;
          
          
          }
          .toggle_option_slider{
            width: 80px;
            height: 35px;
            position: absolute;
            top: 3px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            -ms-transition: all .4s ease;
            transition: all .4s ease;
          }
          
          #first_toggle:checked ~ .toggle_option_slider{
            background: rgba(161, 161, 161, 0.7);
            left: 3px;
          }
          #second_toggle:checked ~ .toggle_option_slider{
            background:  rgba(161, 161, 161, 0.7);
            left: 89px;
          }
          #third_toggle:checked ~ .toggle_option_slider{
            background:  rgba(161, 161, 161, 0.7);
            left: 175px;
          }
          
     }

   } 
   .feed_container{
       
         margin-top: 90px;
         width: 80%;
         min-height: 60vh;
         .empty{
            margin-top: 8rem;
            height: 45vh;
            font-family: $font-2;
            color: #606060;
            text-align: center;

         }
        .post_wrapper{
            background: #FFFFFF;
            border-radius: 1rem;
            width: 60%;
            margin-top: 10%;
           // overflow-y: scroll;
            .post_userimage{
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                object-fit: contain;
                background: #FFFFFF;
                padding: 0.7rem;
            }
            .post_username{
                font-family: $font-4;
                color: #333333;
                font-size: 1.5rem;
                padding: 0.7rem;
               // padding-top: 1rem;
            }
            .postcontent_title{
                font-family: $font-2;
                font-weight: 600;
                font-size:1.5rem;
                padding:0.5rem;
                // letter-spacing: 0.15rem;
            }
            .postcontent_desc{
                font-family: $font-2;
                font-weight: 400;
                font-size: 1rem;
                padding-left: 0.5rem;
                letter-spacing: 0.05rem;
            }
          
        }
    }
   
    .post_heart{
        height: 2rem ;
        cursor: pointer;
        // width: 3rem ;
       // padding: 0.7em;
    }  
  
  .user_row{
      //position:fixed;
      margin-top: 50px;
    .userimage_wrapper{
        position:fixed;
        //  margin-top: 10%;
         .userimage{
             border-radius: 50%;
             height : 150px;
             width: 150px;
             object-fit: contain;
             background: #FFFFFF;
             margin-bottom: 2rem;
         }
         .info_tags{
            .info_text{
                font-family: $font-2;
                padding: 10px;
            }
         }
     }
     .userdetails_wrapper{
        position:fixed;
        //   margin-top:50px;
        .username{
            font-family: $font-3;
        }
        .user_follow{
            font-family: $font-2;
        }
     }
  }
}
.navbar-wrapper{
    background: #FDF7F4;
    position:fixed;
    z-index: 2;
    width:100%;
    padding-right: 2rem;
}
.searchbar_wrapper{
  margin-top: 160px;
  .searchbar{
     background: #ffffff;
  }
}