.nav_wrapper{
    background: transparent;
}
.nav_text{
    font-family: $font-2;
    color: #666666;
    font-size: 1.5rem; 
    font-weight: 400;
    margin: 0 auto;
    //padding-left: 5rem;
}
.navbar-toggler-icon{
    background-image: url("../../assets/hamburger.svg") !important;
}
.navbar_container{
    background-color  : #282828 !important;
}
.navbar_mydropdown{
     position: absolute;
     right: 2rem;
     top:80%;
     background:#FFFFFF;
     padding-top: 0.3rem;
     border-radius: 5%;
     transition: all 3000ms ease-in-out;
  .dropdown_text{
     font-family: $font-2;
     color:#666666;
     padding-left: 1rem;
     padding-right: 1rem;
  }
}
.navbar_pofile_img{
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  background: transparent;
}
.navbar_username{
  font-family: $font-2;
    color: #666666;
    font-size: 1.5rem; 
    font-weight: 400;
  padding-left: 1rem !important;
  margin: 0 auto;
  vertical-align: middle !important;

}
.navbar-toggler-icon{
  background-image: url("../../assets/hamburger.svg") !important;
}
.navbar-toggler{
  &:focus{
      outline:none !important;
  } 
}

