/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #6f6f6f;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #DECA62;
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(#DECA62,0.5);
  }