.showcase-wrapper{
    background: #FDF7F4;
    
    .frame-wrapper{
        margin-top:10%;
        .slideshow{
            margin: 0 auto;
            padding-top: 50px;
            height: 700px;
            background: transparent;
            perspective: 1000px;
          }
          .content{
            margin: auto;
            width: 150px;
            perspective: 1000px;
            position:relative;
            padding-top: 80px;
            transform-style: preserve-3d;
          }
          .slider-content{
            width: 100%;
            position:absolute;
            float:right;
            animation: rotate 15s infinite linear;
            transform-style: preserve-3d;
          }
          .slider-content:hover{
            cursor: pointer;
            animation-play-state: paused;
          }
          
          .slider-content figure{
            width:180px;
            height:120px;
            // border:1px solid #555;
            overflow:hidden;
            position:absolute;
          }
          .slider-content figure:nth-child(1){
            transform:rotateY(0deg) translateZ(300px);
          }
          
          .slider-content figure:nth-child(2){
            transform:rotateY(40deg) translateZ(300px);
          }
          .slider-content figure:nth-child(3){
            transform:rotateY(80deg) translateZ(300px);
          }
          .slider-content figure:nth-child(4){
            transform:rotateY(120deg) translateZ(300px);
          }
          .slider-content figure:nth-child(5){
            transform:rotateY(160deg) translateZ(300px);
          }
          .slider-content figure:nth-child(6){
            transform:rotateY(200deg) translateZ(300px);
          }
          .slider-content figure:nth-child(7){
            transform:rotateY(240deg) translateZ(300px);
          }
          .slider-content figure:nth-child(8){
            transform:rotateY(280deg) translateZ(300px);
          }
          .slider-content figure:nth-child(9){
            transform:rotateY(320deg) translateZ(300px);
          }
          
          .shadow{
            position: absolute;
            // box-shadow: 1px 1px 0px #999 !important;
           
          }
          .slider-content img{
            image-rendering: auto;
            transition: all 300ms;
            width: 100%;
            height: 100%;
          }
          .slider-content img:hover{
            transform: scale(1.2);
            transition: all 300ms;
           
          }
          
          @keyframes rotate {
            from{
              transform: rotateY(0deg);
            }
            to{
                transform: rotateY(360deg);
            }
          }
    }
      
}
.bottom-wrapper{
  position: absolute;
  width: 20rem !important;
  height: 20rem !important;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  font-family: $font-1;
  color: white;
  text-align: center;
  outline: 0;
  background: rgba(#1f1f1f, 0.7); 
  box-shadow: rgba(12, 71, 119, 0.25) 0px 54px 55px, rgba(12, 71, 119, 0.25) 0px -12px 30px, rgba(12, 71, 119, 0.25) 0px 4px 6px,rgba(12, 71, 119, 0.25) 0px 12px 13px, rgba(12, 71, 119, 0.25) 0px -3px 5px;
  transform: rotateX(-90deg) translateZ(20rem); 
}

.test_{
  height: 52rem !important;
  width: 52rem !important;
  border-radius: 50%;
  transform: rotateX(-90deg) translateZ(-18rem) translateX(-21.2rem);
  // background: radial-gradient(50% 50% at 50% 50%, rgba(112, 112, 112, 0) 0%, rgba(112, 112, 112, 0.55) 55.73%, rgba(114, 114, 114, 0) 100%);
  background-color: #fdf7f4;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23fdf7f4' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23feebe5' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23fedfd8' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23ffd2cf' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23ffc6c8' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23fdb9c4' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
// background-attachment: fixed;
background-size: cover;
  box-shadow: none !important;
 
  
}