.showcase-wrapper{
    background: #FDF7F4;
    .frame-wrapper{
        margin-top:10%;
        .slideshow{
            margin: 0 auto;
            padding-top: 50px;
            height: 700px;
            background: #FDF7F4;
            perspective: 1000px;
          }
          .content{
            margin: auto;
            width: 150px;
            perspective: 1000px;
            position:relative;
            padding-top: 80px;
            transform-style: preserve-3d;
          }
          .slider-content{
            width: 100%;
            position:absolute;
            float:right;
            animation: rotate 15s infinite linear;
            transform-style: preserve-3d;
          }
          .slider-content:hover{
            cursor: pointer;
            animation-play-state: paused;
          }
          
          .slider-content figure{
            width:180px;
            height:120px;
            border:1px solid #555;
            overflow:hidden;
            position:absolute;
          }
          .slider-content figure:nth-child(1){
            transform:rotateY(0deg) translateZ(300px);
          }
          
          .slider-content figure:nth-child(2){
            transform:rotateY(40deg) translateZ(300px);
          }
          .slider-content figure:nth-child(3){
            transform:rotateY(80deg) translateZ(300px);
          }
          .slider-content figure:nth-child(4){
            transform:rotateY(120deg) translateZ(300px);
          }
          .slider-content figure:nth-child(5){
            transform:rotateY(160deg) translateZ(300px);
          }
          .slider-content figure:nth-child(6){
            transform:rotateY(200deg) translateZ(300px);
          }
          .slider-content figure:nth-child(7){
            transform:rotateY(240deg) translateZ(300px);
          }
          .slider-content figure:nth-child(8){
            transform:rotateY(280deg) translateZ(300px);
          }
          .slider-content figure:nth-child(9){
            transform:rotateY(320deg) translateZ(300px);
          }
          
          .shadow{
            position: absolute;
            box-shadow: 1px 1px 0px #999 !important;
           
          }
          .slider-content img{
            image-rendering: auto;
            transition: all 300ms;
            width: 100%;
            height: 100%;
          }
          .slider-content img:hover{
            transform: scale(1.2);
            transition: all 300ms;
           
          }
          
          @keyframes rotate {
            from{
              transform: rotateY(0deg);
            }
            to{
                transform: rotateY(360deg);
            }
          }
    }
      
}
.bottom-wrapper{
  position: absolute;
  width: 18rem;
  height: 18rem;
//     border: 2px solid rgba(black, 0.4);
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  font-family: $font-1;
  color: white;
  text-align: center;
  outline: 0;
  background: rgba(#1f1f1f, 0.7); 
  box-shadow: rgba(12, 71, 119, 0.25) 0px 54px 55px, rgba(12, 71, 119, 0.25) 0px -12px 30px, rgba(12, 71, 119, 0.25) 0px 4px 6px,rgba(12, 71, 119, 0.25) 0px 12px 13px, rgba(12, 71, 119, 0.25) 0px -3px 5px;
  transform: rotateX(-90deg) translateZ(20rem); 
}

.test_{
  height: 100%;
  width: 100%;
  transform: rotateX(-90deg) translateZ(5rem);
  background: rgba(#1f1f1f, 0.7); 
  box-shadow: rgba(12, 71, 119, 0.25) 0px 54px 55px, rgba(12, 71, 119, 0.25) 0px -12px 30px, rgba(12, 71, 119, 0.25) 0px 4px 6px,rgba(12, 71, 119, 0.25) 0px 12px 13px, rgba(12, 71, 119, 0.25) 0px -3px 5px;
}