.button_edit{
    color:#333333 !important;
    height: 2rem !important;
    border: 0.1rem solid #707070 !important;
    background-color: #FDF7F4 !important;
    font-family: $font-2 !important;
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    margin-left: 1rem !important;
    cursor: pointer;
}